# Use this config to upload a package to npmjs for the first time. 
# Make sure you have an env variable with name NPM_TOKEN and value equal to a token with publish permission.

# @uipath:registry=https://registry.npmjs.org
# //registry.npmjs.org/:_authToken=${NPM_TOKEN}
